# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar arquivos de log
*.log

# Ignorar pastas de dependências (se você usar virtualenv, por exemplo)
venv/
.env/

# Ignorar arquivos gerados pelo sistema (ex. Mac, Windows)
.DS_Store
Thumbs.db

# Ignorar pastas de dados grandes
data/raw/*
data/processed/*