# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar arquivos de log
*.log

# Ignorar pastas de dependências
.env/

# Ignorar arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# Ignorar pastas de dados grandes
data/raw/*
data/processed/*